@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

:root{
  --color-pry: #0063e5;
  --color-pry-variant:  #0483ee;
  /* --color-bg:  */
  --color-text-white:#f9f9f9;
  --color-text-light:rgb(249, 249, 249);
  --transition : all 400ms ease;
}

body{
  background-color: #040714;
  color: #f9f9f9;
  font-family: Poppins, sans-serif, helvetica;
  font-size: 1rem;
}

li{
  list-style-type: none;
}

a{
  color: #f9f9f9;
  text-decoration: none;
}

img{
  width: 100%;
}

/* media queries */

@media screen and (min-width:768px){
  body{
    font-size: 1rem;
  }
}

@media screen and (min-width:488px) and (max-width:768px){
  body{
    font-size: 0.9375rem;
  }
}
@media screen and (max-width:479px){
  body{
    font-size: 0.875rem;
  }
}
